

<style media="screen" type="text/css">


/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(162, 202, 231, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}



/*APPLICATION FORM*/
/*.logo{text-align: left; padding-top: 1px;}*/
.content{border: 10px solid #518cec; background-color: #6da4fb; display: block; }
img.head{vertical-align: middle;}

.space{padding-left: 10px;padding-right: 10px;}

/*.content p{ font-size: x-large; color: rgb(255, 255, 255);text-align: center; padding-top: 1px; }*/
.bus{background-color: antiquewhite; }
marquee{color: brown;}
.bus.form-controll{padding:10px ;}

/*placement table*/
.photo{position: absolute; right: 30%;}
#placements{font-family: Arial, Helvetica, sans-serif;width: 50%;border-collapse: collapse;}
#placements td, #placements th{font-size: 1em;border: 1px solid #98bf21;padding: 2px 7px 2px 7px;}
#placements th{font-size: 1.1em;text-align: left;padding-top: 5px;padding-bottom: 4px; background-color: #a7c942; color: #ffffff;}

.side_space{padding-left: 60px; padding-right: 60px;}


footer{padding: 20px 30px; background-color: #b99a37;  color: #000000;}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.floating-btn
{ 
    background-color: #04AA6D;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    color: #ffffff;
    font-size: 40px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: background 0.25s;

    outline: blue;
    border: none;
    cursor: pointer;
}

/* The popup form - hidden by default SENDING MESSAGE*/
.floating-btn:active{background: #007d63;}
.form-popup{
  height: 600px;
  width: 380px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #aec6e0;
  z-index: 9;
  background-color: white;
}
#submit:hover{background-color: rgb(43, 210, 43);color: white;}


</style> 